@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html{
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */

    /* background: conic-gradient(from 137.67deg at 54.58% 51.56%, #2D2C2C -105.1deg, #1E1E1E 96.74deg, #2D2C2C 254.9deg, #1E1E1E 456.74deg); */
    /* background: #000000;  
    background: -webkit-linear-gradient(to left, #434343, #000000); 
    background: linear-gradient(to left, #434343, #000000);  */
    

    /* background-image: linear-gradient(
      60deg,
      hsl(0deg 0% 0%) 0%,
      hsl(20deg 100% 5%) 13%,
      hsl(33deg 100% 6%) 19%,
      hsl(40deg 100% 6%) 23%,
      hsl(44deg 100% 7%) 27%,
      hsl(48deg 100% 8%) 31%,
      hsl(50deg 100% 8%) 34%,
      hsl(52deg 100% 9%) 38%,
      hsl(53deg 100% 10%) 41%,
      hsl(53deg 83% 12%) 44%,
      hsl(52deg 68% 15%) 47%,
      hsl(52deg 60% 17%) 50%,
      hsl(51deg 55% 16%) 53%,
      hsl(51deg 49% 16%) 56%,
      hsl(50deg 44% 16%) 59%,
      hsl(50deg 39% 16%) 62%,
      hsl(49deg 34% 15%) 66%,
      hsl(49deg 29% 15%) 69%,
      hsl(48deg 24% 15%) 73%,
      hsl(47deg 19% 14%) 77%,
      hsl(46deg 13% 14%) 81%,
      hsl(45deg 7% 13%) 87%,
      hsl(0deg 0% 13%) 100%
    );
     */

     background-image: linear-gradient(
  45deg,
  hsl(0deg 0% 0%) 0%,
  hsl(344deg 0% 2%) 12%,
  hsl(344deg 0% 4%) 19%,
  hsl(344deg 0% 5%) 25%,
  hsl(344deg 0% 7%) 31%,
  hsl(344deg 0% 8%) 36%,
  hsl(344deg 0% 9%) 40%,
  hsl(344deg 0% 10%) 45%,
  hsl(344deg 0% 11%) 49%,
  hsl(344deg 0% 12%) 53%,
  hsl(344deg 0% 13%) 57%,
  hsl(344deg 0% 14%) 61%,
  hsl(344deg 0% 15%) 65%,
  hsl(344deg 0% 16%) 68%,
  hsl(344deg 0% 17%) 72%,
  hsl(344deg 0% 18%) 76%,
  hsl(344deg 0% 19%) 80%,
  hsl(344deg 0% 20%) 83%,
  hsl(344deg 0% 21%) 87%,
  hsl(344deg 0% 22%) 91%,
  hsl(344deg 0% 23%) 95%,
  hsl(0deg 0% 24%) 100%
);
}

.card{
  background: linear-gradient(108.86deg, rgba(255, 255, 255, 0.06) -21.83%, rgba(255, 255, 255, 0) 98.66%);
  backdrop-filter: blur(4px);
}

